#okay,
#input1,
#input2,
#post,
#refresh {
    display: none;
}

body{
    background-color: #5bcbff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

