<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
    <div id="app">

        <h1>frutas, programa simple :D</h1>

     <input type="text" v-model="newtype" @keyup.enter="addtype">
     <button type="button" v-on:click="addtype()">add type</button><br><br>

            <select  v-model="newfrut" @keyup.enter="addFrut" >
                <option  v-for="fruta of frutas"> {{fruta.name}}</option>
        
            </select>

         
        <button type="button" v-on:click="addFrut()">add</button>
    

        
        <ul>
           
            <li v-for="fruta of frutas">
                <span v-if='fruta.name == ""'>no frut</span>
                {{fruta.name}}---{{fruta.cantidad}}
                <button v-on:click="fruta.cantidad++">+</button>
                <button v-on:click="fruta.cantidad--">-</button>
            <span v-if="fruta.cantidad === 0">no hay xd</span>
        </li>
        </ul>

        <h4>TOTAL DE FRUTAS : {{sumarFruts}}</h4>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/vue.js"></script>
</body>

</html>